.panel-default {
    border-color: #ddd !important;
}

.panel>.list-group .list-group-item {
    border-width: 1px 0 !important;
    border-radius: 0 !important;
}

.list-group-item>span {
    float: right !important;
    text-decoration: underline !important;
    margin-right: 5px !important;
}

li.list-group-item {
    font-size: 0.8em !important;
}